@page
@model GRID.Pages.Admin.Invites.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].IsSingleUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].MaxUses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].CurrentUses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invite[0].ExpiresAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invite) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSingleUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxUses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentUses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
